
.container{
  max-width: 600px !important;
}
.home{
  min-height:100vh;
}

.input{
  border: none;
  outline: none;
  background-color: #2aa0b7;
  &:focus{
    background-color: rgb(2, 104, 2);
    color: #0BCAF0;
  }
}
.task-container{ 
}
.task{
  text-transform: capitalize; 
  background-color: rgb(47, 38, 38);
border-color: #2aa0b7;
color: #0BCAF0;
cursor: pointer;
position:relative;
&:hover{
  background-color: #015060;
}
&.done{
  
  background-color: rgb(23, 74, 6) ;
  text-decoration: line-through; 
}
.delete{
  cursor:pointer;
  font-size: 1.2rem;
  position:absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.task-content{
  width: 90%;

  margin: unset;
  user-select: none;
}
}